{%extends "base_docente.html"%}

{%  block content %}

<!DOCTYPE html>
<html>
<title> {%block head_title %} Portal de  Docentes | Cursos {%endblock head_title%} </title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

        .logo img{
            width:90px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #DF3E3A;
  color: white;
  padding: 14px 50px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #ddd;
  color: black;
}

</style>




  <div class="card-header text-center">
    <h1> Agregar Curso </h1>
  </div>
<div class="card-body">
    

<!--FORM-->

<form method="POST">
              {% csrf_token%} 


                <h1> Ingrese Nombre para el curso.</h1>

                <div>
                  <label for=nombre></label>
                  <input name="nombre" id="nombre" width="20" placeholder="Inserte Nombre...">
                </div> 

                <div>
                  <label for=id_docente></label>
                  <input name="id_docente" type="hidden" id="id_docente" value={{id_d}}>
                </div> 


                <div>
                  <label for=id_unico></label>
                  <input name="id_unico" type="hidden" id="id_unico" value={{random}}>
                </div> 

             
              <button class="btn btn-light" type="submit">Guardar</button>
              <button class="btn btn-light">Volver</button>

            </form>




</div>


<!-- NOOOOO -->













{%  endblock content %}

