{%extends "base_docente.html"%}

{%  block content %}

<!DOCTYPE html>
<html>
<title> {%block head_title %} Portal de  Docentes | Cursos {%endblock head_title%} </title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

        .logo img{
            width:90px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #DF3E3A;
  color: white;
  padding: 14px 50px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #ddd;
  color: black;
}

</style>




  <div class="card-header text-center">
    <h1> Agregar Materia </h1>
  </div>
<div class="card-body">
    

<!--FORM-->

<form method="POST">
              {% csrf_token%} 


                <h1> Ingrese un nombre para la materia nueva.</h1>

                <div>
                  <label for=nombre></label>
                  <input name="nombre" id="nombre" width="20" placeholder="Inserte Nombre...">
                </div> 

                <div>
                  <label for=id_curso></label>
                  <input name="id_curso" type="hidden" id="id_curso" value={{curso_id}}>
                </div> 

              <button class="btn btn-light" type="submit">Enviar</button>
              <button class="btn btn-light">Volver</button>
              </form>


</div>



<div class="container"  style="margin-left: 50px;">
</br></br></br>

<div class="row" style="margin-top:-50px;">
        <div class="col-lg">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>    
                                <th><span>Nombre Materia</span></th>
                                <th><span>Opciones:</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for obj in materia %}
                                
                                {% if curso_id == obj.id_curso %}

                                <tr>
                                    <td>
                                        {{obj.nombre}}
                                    </td>
                                    <td>

                                      <a href='{% url "form_archivos" id_c=obj.id %}'> <button class="btn btn-light "> Subir Documento </button></a>
                                      <a href='{% url "borrar_curso" id=1 %}'> <button class="btn btn-danger "> Borrar </button></a>

                                     </td> 
                                        
                                </tr>
                                {%endif%}
                                {%endfor%}
                                </tbody>
                                </table>

                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                     





{%  endblock content %}














