{% extends "base_registro.html" %}

{%  block content %}

<body>
  <form method="POST" class="row">
    {% csrf_token%}

  <div role="main" class="form-all">
    <ul class="form-section page-section">

<!--USERNAME -->

      <li class="form-line jf-required">


        <label class="form-label form-label-left form-label-auto">
          Nombre de Usuario
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_3" class="form-input jf-required">
          
          <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">


        </div>
      </li>

<!--PRIMER NOMBRE -->

      <li class="form-line jf-required">


        <label class="form-label form-label-left form-label-auto">
          Nombre
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_3" class="form-input jf-required">
          
          <input type="text" name="first_name" maxlength="140" autofocus="" required="" id="id_first_name" class="form-control">

      </li>

      
 <!--APELLIDOS -->

      <li class="form-line jf-required">


        <label class="form-label form-label-left form-label-auto">
          Apellidos
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_3" class="form-input jf-required">
          

          <input type="text" name="last_name" maxlength="140" autofocus="" required="" id="id_last_name" class="form-control">

      </li>

    
 <!--Correo -->



      <li class="form-line jf-required" >


        <label class="form-label form-label-left form-label-auto">
          Correo
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_3" class="form-input jf-required">
          

          <input type="email" name="email" maxlength="140" required="" id="id_email" class="form-control">

      </li>   


<input type="hidden" name="password2" id="password2" value="Asd123qaz">
<input type="hidden" name="password2" id="password2" value="Asd123qaz">


<!--ENVIAR -->

      <li class="form-line" data-type="control_button" id="id_9">
        <div class="form-input-wide">
          <div style="text-align:center" data-align="center" class="form-buttons-wrapper form-buttons-center   jsTest-button-wrapperField">
            <button class="btn btn-secondary" type="submit">Registrar</button>        
          </div>
        </div>
      </li>


<!--VOLVER -->


      <li class="form-line" data-type="control_button" id="id_9">
        <div id="cid_9" class="form-input-wide">
          <div style="text-align:center" data-align="center" class="form-buttons-wrapper form-buttons-center   jsTest-button-wrapperField">
            <a href="#"> <button class="form-submit-button form-submit-button-simple_carolina_blue submit-button jf-form-buttons jsTest-submitField" >
              Volver al menu principal
            </button></a>
          </div>
        </div>
      </li>


<!--TEXTO AUXILIAR -->

      <li class="form-line" data-type="control_text" id="id_11">
        <div id="cid_11" class="form-input-wide">
          <div id="text_11" class="form-html" data-component="text">
            <p><span style="font-size:small;">Los campos con <strong><em>asterisco (*)</em></strong> deben ser rellenados.</span></p></br>
            <p><span style="font-size:small;">IMPORTANTE: La contraseña sera generada automaticamente con las primeras 2 letras de su nombre y las 3 primeras de su apellido.</span></p>
          </div>
        </div>
    </ul>
  </div>
  
</form>
</body>
</html>


<!--

<div style="text-align:center;">
	<h1>R<span>egistro</span> </h1>

</div>	

<div class="contenedor">

	<form method="POST" class="row">
		{% csrf_token%}

		
		
		<div class="col-sm-12" >
			<div style="padding: 10px">
			<label>N<span>ombre</span> <span>de</span> U<span>suario:</span></label> {{a}} <br>
			<input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username" class="form-control">
			</div>	
			{% if messages %}
			{%for message in messages %}
			
			<div class="alert alert-danger">{{message}}</div>

			{%endfor%}
			{%endif%}
		
			<div style="padding: 10px">
				<label>N<span>ombre:</span></label><br>
				<input type="text" name="first_name" maxlength="140" required="" id="id_first_name" class="form-control">
			</div>
			<div style="padding: 10px">
				<label>A<span>pellidos:</span></label><br>
				<input type="text" name="last_name" maxlength="140" id="id_last_name" class="form-control">
			</div>

			<div style="padding: 10px">
				<label>C<span>orreo</span> E<span>lectronico:</span></label><br>
				<input type="email" name="email" required="" id="id_email" class="form-control">
			</div>
			
			<div style="padding: 10px">
				<label for="password1"></label><br>
				<input type="hidden" name="password1" id="password1" value="Asd123qaz">
			</div>
			<div style="padding: 10 0 0px">
				<label for="password2"></label><br>
				<input type="hidden" name="password2" id="password2" value="Asd123qaz">
			</div>
			<div style="text-align:center;">
				<button class="btn btn-secondary" type="submit">Registrar</button>
		
			</div>



		</div>
			
	</form>

</div>

-->
{% endblock %} 