{%extends "base_alumno.html"%}

{%  block content %}

<!DOCTYPE html>
<html>
<title> {%block head_title %} Portal de  Docentes | Cursos {%endblock head_title%} </title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

        .logo img{
            width:90px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #DF3E3A;
  color: white;
  padding: 14px 50px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #ddd;
  color: black;
}

</style>




  <div class="card-header text-center">
    <h1> Cargar Curso </h1>
  </div>
<div class="card-body">
    

<!--FORM-->

<form method="POST">
              {% csrf_token%} 


                <h1> Ingrese id del curso.</h1>
                <div>
                  <label for=id_curso></label>
                  <input name="id_curso" id="id_alumno" width="20" placeholder="Inserte identificador...">
                </div> 

                <div>
                  <label for=id_alumno></label>
                  <input name="id_alumno" type="hidden" id="id_alumno" value={{id_al}}>
                </div> 

             </br>

              <button class="btn btn-success" type="submit">Enviar</button>
              </form>




</div>

<div class="container"  style="margin-left: 50px;">
</br></br></br>

<div class="row" style="margin-top:-50px;">
        <div class="col-lg">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>    
                                <th><span>ID</span></th>
                                <th><span>Nombre Curso</span></th>
                                <th><span>Docente</span></th>
                                <th><span>Opciones:</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for list in lista%}

                                {% if id_al == list.id_alumno %}

                                {% for obj in cursos %}
                              

                                {% if obj.id_unico == list.id_curso %}

                                <tr>
                                    <td>
                                        {{obj.id_unico}}
                                    </td>
                                    <td>
                                        {{obj.nombre}}
                                    </td>
                                    <td>
                                      

                                        {% for usr in user %}

                                          {% if usr.id == obj.id_docente %}

                                            {{usr.first_name}} {{usr.last_name}}

                                          {%endif%}

                                        {% endfor %} 
                                    </td>

                                    <td>

                                      <a href='{% url "archivos_del_curso" id=obj.id %}'> <button class="btn btn-dark "> Ver Archivos </button></a>
                                      
                                  
                                     </td> 
                                        
                                </tr>
                                {%endif%}
                                {%endfor%}

                                
                                {%endif%}
                                {%endfor%}
                                </tbody>
                                </table>

                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
  














{%  endblock content %}

