{% extends "base_docente.html" %}



{%  block content %}

<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif};

    .btn-custom{
      background: #697FC8;
      border-color: #697FC8;
      color:#fff;
      font-weight:600;
      font-size: large;
      min-height: 48px;
}
    .btn-custom:focus,.btn-custom:hover,.btn-custom:active,.btn-custom:active:focus{
      background: #586FBA;
      border-color: #586FBA;
      color:#fff;
    }
    .btn-custom:focus{
      box-shadow: 0 0 0 0.2rem rgba(114,61,190, .25);
    }

</style>
<body class="w3-light-gray">

<!-- MAIN -->
<header class="w3-display-container w3-content" style="max-width:1500px;">
  
  <div class="w3-display-center w3-padding w3-col l6 m8">
    <div class="w3-container w3-gray">
      <h2><i class="fa fas fa-check-circle"></i> Su contraseña ha sido modificada exitosamente</h2></b>
      <a href='{% url "home_perfil_docente" %}'><button type="button" class="btn btn-light">Volver</button></a></b></b></b>
    </div>
  </b>

{%  endblock content %}